# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: "Web Accessibility Initiative (WAI)'s Website Theme"
description: > # this means to ignore newlines until "baseurl:"
  Learn more about the theme of the Web Accessibility Initiative's website.
baseurl: "/wai-website-theme" # the subpath of your site, e.g. /blog
twitter:
  username: w3c_wai
author: w3c_wai
exclude:
  - "_external"
  - "Gemfile"
  - "Gemfile.lock"
  - "README.md"
  - "w3c.json"
  - "node_modules"
repository: w3c/wai-website-theme
branch: main

# Build settings
markdown: kramdown
kramwdown:
  toc_levels: 2..3
  input: GFM
  syntax_highlighter: rouge
highlighter: rouge

collections:
  components:
    area: "Design Components"
    name: "Components"
    shortname: "Components"
    output: true
    acknowledgements: false
    permalink: /:collection/:path/

defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"

plugins:
  - jekyll-include-cache
  - jekyll-paginate
  - jekyll-redirect-from
  - jekyll-seo-tag
  - jekyll-sitemap
  - wai-website-plugin