# This config file is meant for settings that affect your whole site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site-wide settings
# ------------------
#
# title: The title of your site
# description: >
#   Write a description for your site.
# baseurl: "/" # the subpath of your site, e.g. /blog
# author: w3c_wai
#
# Build settings
# --------------
#
# remote_theme: w3c/wai-website-theme
#
# plugins:
#  - jekyll-include-cache
#  - jekyll-paginate
#  - jekyll-redirect-from
#  - jekyll-seo-tag
#  - jekyll-sitemap
#  - wai-website-plugin
#
# markdown: kramdown
# kramwdown:
#  toc_levels: 2..3
#  input: GFM
#  syntax_highlighter: rouge
# highlighter: rouge
#
# exclude:
#  - "_external"
#  - "Gemfile"
#  - "Gemfile.lock"
#  - "README.md"
#  - "w3c.json"
#  - "node_modules"
#
# defaults:
#  -
#    scope:
#      path: ""
#    values:
#      layout: "default"