:root {
  --w3c-color-excol-idle: var(--wai-green);
  --w3c-color-excol-hovcus: var(--w3c-blue);

  @media (forced-colors: active) {
    --w3c-color-excol-idle: ButtonText;
    --w3c-color-excol-hovcus: ButtonText;
  }
}

details {
  margin-block: 40px 20px;
  padding-inline-start: 2rem;
}

summary {
  display: flex;
  gap: 0.5em;
  margin-inline-start: -2rem;

  > :is(*, h2, h3, h4) {
    margin: 0;
    overflow: clip;
  }
}

summary .excol-inline-icon {
  flex: none;
  color: var(--w3c-color-excol-idle);
}

summary:--hovcus .excol-inline-icon {
  color: var(--w3c-color-excol-hovcus);
}

summary .excol-inline-icon [data-operation][data-state] {
  display: none;
}

details:not([open]) > summary:not(:--hovcus) .excol-inline-icon [data-operation="expand"][data-state="idle"],
details:not([open]) > summary:--hovcus .excol-inline-icon [data-operation="expand"][data-state="hovcus"],
details[open] > summary:not(:--hovcus) .excol-inline-icon [data-operation="collapse"][data-state="idle"],
details[open] > summary:--hovcus .excol-inline-icon [data-operation="collapse"][data-state="hovcus"] {
  display: inline;
}


details > div::after {
  content: "";
  display: block;
  clear: both;
}

/*
  Firefox 130 does not zero out collapsed content's dimensions.
  Work around this to preserve behavior of openHiddenNodes.
*/
details:not([open]) > summary ~ * {
  display: none;
}

.excol-all {
  margin: 16px 0;
}
