:root {
  --w3c-icon-plus-solid: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 0a4 4 0 0 1 4 4v16a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4zm-9 7v4H7v2h4v4h2v-4h4v-2h-4V7z'/%3E%3C/svg%3E");
  --w3c-icon-plus-hollow: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 11h4v2h-4v4h-2v-4H7v-2h4V7h2z'/%3E%3Cpath d='M20.2 0A4 4 0 0 1 24 4v16.2a4 4 0 0 1-3.8 3.8H4a4 4 0 0 1-4-3.8V4a4 4 0 0 1 4-4h16zM4 2a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2z'/%3E%3C/svg%3E");
  --w3c-icon-minus-solid: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 0a4 4 0 0 1 4 4v16a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4zM7 11v2h10v-2z'/%3E%3C/svg%3E");
  --w3c-icon-minus-hollow: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 13H7v-2h10z'/%3E%3Cpath d='M20.2 0A4 4 0 0 1 24 4v16.2a4 4 0 0 1-3.8 3.8H4a4 4 0 0 1-4-3.8V4a4 4 0 0 1 4-4h16zM4 2a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2z'/%3E%3C/svg%3E");
}

details {
  padding-left: 2rem;
}
summary {
  cursor: pointer;
  display: block;
  margin-inline-start: -2rem;
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  & > *:first-child {
    display: flex;
    flex-wrap: wrap;
  }

  & > *:first-child::before {
    content: '';
    margin-inline-end: 0.5rem;
    padding-block-start: 0.15rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--wai-green);
    text-align: center;
    font-weight: bold;
    mask: var(--w3c-icon-plus-hollow) center / contain no-repeat;
  }

  &:--hovcus > *:first-child::before {
    background: var(--w3c-blue);
    mask-image: var(--w3c-icon-plus-solid);
  }
}

@moz-document url-prefix() {
  summary > *:first-child::before {
    line-height: 1.3em;
  }
}

details[open] > summary {
  & > *:first-child::before {
    mask-image: var(--w3c-icon-minus-hollow);
  }

  &:--hovcus > *:first-child::before {
    mask-image: var(--w3c-icon-minus-solid);
  }
}

details > div::after {
  content: "";
  display: block;
  clear: both;
}

/*
  Firefox 130 does not zero out collapsed content's dimensions.
  Work around this to preserve behavior of openHiddenNodes.
*/
details:not([open]) > summary ~ * {
  display: none;
}

.excol-all {
  margin: 16px 0;
}
