{%- if include.type == 'start' -%}
  <details{%if include.id%} id="{{include.id}}"{% endif %} {%if include.open == "true" %}open{% endif %}><summary markdown="block">
{%- endif -%}
{%- if include.type == 'middle' -%}
  </summary>
  <div markdown="block"{%-if include.dir %} dir="{{include.dir}}"{%- endif -%}{%-if include.lang %} lang="{{include.lang}}"{%- endif -%}>
{%- endif -%}
{%- if include.type == 'end' -%}
  </div>
</details>
{%- endif -%}
{%- if include.type == 'all' -%}
{% if include.expand-text %}
  {% capture expand-attr %} data-expand-text="{{include.expand-text}}" {% endcapture %}
{%- endif -%}
{% if include.expand-text %}
  {% capture collapse-attr %} data-collapse-text="{{include.collapse-text}}" {% endcapture %}
{%- endif -%}
<div class="excol-all" {{ expand-attr }} {{ collapse-attr }}></div>
{%- endif -%}
