{% assign col = site.collections | where: "label", page.collection | first %}
{% unless page.nopagefooter %}
<footer class="page-footer default-grid">
  <div class="inner">
    <p>
      <strong>Updated:</strong> {{page.date | date: "%-d %B %Y"}}<br>
      <strong>{{page.people.editorslabel}}:</strong> {% for p in page.people.editors%}<a href="{{p.url}}">{{p.name}}</a>{% if forloop.last %}.{% else %}, {% endif %}{% endfor %} <strong>Developed by the <a href="https://www.w3.org/WAI/EO/">Education and Outreach Working Group (EOWG)</a></strong>{% if page.support %} with support from {% for s in page.support%}{% unless forloop.first %}{% if forloop.last %}and {% endif %}{% endunless %}the <a href="{{s.url}}">{{s.name}}</a>{% if forloop.last %}.{% else %}, {% endif %}{% endfor %}{% endif %} {% if col.acknowledgements %}{% assign ackurl = page.collection | append: "/acknowledgements/" | prepend: site.github.url %}<a href="/{{ackurl}}">Acknowledgements</a>.{% endif %}
    </p>
  </div>
</footer>
{% endunless %}

<footer class="site-footer grid-4q">
  <div class="q1-start q2-end">
    <p><a class="largelink" href="https://w3.org/WAI/">Web Accessibility Initiative</a></p>
    <p>Strategies, guidelines, resources to make the web accessible to people with disabilities</p>
    <p>Copyright © 2017 W3C® (MIT, ERCIM, Keio, Beihang). Usage policies apply.</p>
  </div>
  <div class="q3-start q3-end">
    <div class="footer-list-header">
      Give Us Feedback
    </div>
    <ul>
      <li><a href="#">Publicly Archived List</a></li>
      <li><a href="#">WAI Staff-only List</a></li>
    </ul>
  </div>
  <div class="q4-start q4-end">
    <ul>
      <li><a href="{{ site.github.url }}/wai/contact/">Contact WAI</a></li>
      <li><a href="{{ site.github.url }}/sitemap/">Site Index</a></li>
      <li><a href="{{ site.github.url }}/wai/get-involved/">Help with the WAI Website</a></li>
      <li><a href="{{ site.github.url }}/privacy/">Privacy Statements</a></li>
    </ul>
  </div>
</footer>
<section class="default-grid info" tabindex="0">
  <p class="inner">{% include_cached icon.html name="info" %} This is an unpublished draft preview. Please refer to our published website at <a href="https://www.w3.org/WAI/">w3.org/WAI/</a>.
  </p>
</section>