{%- if include.p.github.repository -%}
    {%- assign repo = include.p.github.repository -%}
{%- else -%}
    {%- assign repo = site.repository -%}
{%- endif -%}
{%- if include.p.github.branch -%}
    {%- assign branch = include.p.github.branch -%}
{%- elsif site.branch -%}
  {%- assign branch = site.branch -%}
{%- else -%}
    {%- assign branch = "master" -%}
{%- endif -%}
{%- assign path = include.p.path -%}
{%- if include.p.collection and repo == "w3c/wai-website" -%}
    {%- assign path = include.p.path | prepend: "collections/" -%}
{%- elsif include.p.github.path -%}
    {%- assign path = include.p.github.path -%}
{%- endif- %}
https://github.com/{{repo}}/edit/{{branch}}/{{path}}
