{% if include.type == 'start' %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'has-js');

    function downloadJSAtOnload() {
      var element = document.createElement("script");
      element.src = "{{ '/assets/scripts/main.js' | append: include.timestamp | relative_url }}";
      document.body.appendChild(element);
    }

    window.addEventListener("load", downloadJSAtOnload, false);
  </script>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | append: include.timestamp | relative_url }}">
{% endif %}
{% if  include.type == 'end' %}
  <link rel="alternate" type="application/rss+xml" href="{{ "/feed.xml" | relative_url }}">
</head>
{% endif %}