{%- comment -%}
The first section creates an array of page urls that are page urls of this collection. They then are compared to all page urls in the list below. Use group in the frontmatter to group pages.
{%- endcomment -%}
{%- assign col = site.collections | where: "label", page.collection | first -%}
{%- unless site.published == true -%}
<section class="default-grid info" tabindex="0">
  <p class="inner">{% if site.warning_icon %}{% include_cached icon.html name="info" %} {% endif %}{% if site.warning_message %}{{site.warning_message}}{% else %}This is an unpublished draft preview. Please refer to our published website at <a href="https://www.w3.org/WAI/">w3.org/WAI/</a>.{% endif %}
  </p>
</section>
{%- endunless -%}
<nav aria-label="Skip Link and Accessibility Options" id="controls" class="default-grid">
  <ul>
    <li><a href="#main">Skip to Content</a></li>
    <li><a href="{{ "/meta/customize/" | relative_url }}">Change Text Size or Colors</a></li>
  </ul>
</nav>
<header id="site-header" class="default-grid with-gap">
  <div class="logos">
    <a class="home" href="{{ "/" | relative_url }}">
      <img src="{{ "/assets/images/w3c.svg" | relative_url }}" alt="W3C">
      <span class="wai"><span class="wa">Web&nbsp;Accessibility</span> <span class="i"><span class="initieative">Initiative</span> <span>WAI</span></span></span>
    </a>
    <div class="claim">
      <span>Strategies, standards, resources to make the Web accessible to people with disabilities</span>
    </div>
    <button class="button button-menu" aria-haspopup="true" aria-expanded="false" id="openmenu"><span>{% include_cached icon.html name="menu" %} Menu</span></button>
  </div>

  <div class="navigations">
  <nav class="metanav" aria-label="Meta &amp; Search">
    <ul>
      <li><a href="{{ "/get-involved/" | relative_url }}">Get Involved</a></li>
      <li><a href="{{ "/about/" | relative_url }}">About W3C WAI</a></li>
      <li>
        <form action="{{ "/search/" | relative_url }}" role="search">
          <div>
            <label for="header-search">
              <input id="header-search" type="search" name="q" placeholder="Search" aria-label="search">
            </label>
            <button class="button button-icon button-nobg button-noborder"><span>{% include_cached icon.html name="search" label="Submit Search" %}</span></button>
          </div>
        </form>
      </li>
    </ul>
  </nav>
</div>
</header>
{%- if page.parent == '/' -%}{%- assign parent_is_home = true -%}{% endif %}
{%- if col.parent == '/' -%}{%- assign parent_is_home = true -%}{% endif %}
{%- if parent_is_home -%}
{%- assign a_name = "" -%}
{%- assign a_url  = "" -%}
{%- assign b_name = "" -%}
{%- assign b_url  = "" -%}
{%- assign c_name = "" -%}
{%- assign c_url  = "" -%}
{%- assign d_name = "" -%}
{%- assign d_url  = "" -%}
{% else %}
{%- if col.parent -%}{%- assign searchurl = col.parent -%}{%- else -%}{%- assign searchurl = page.url -%}{%- endif -%}
{%- assign search = true -%}
{%- for n in site.data.navigation -%}
  {%- if search == true -%}
    {%- assign b_name = "" -%}
    {%- assign b_url  = "" -%}
    {%- assign c_name = "" -%}
    {%- assign c_url  = "" -%}
    {%- assign d_name = "" -%}
    {%- assign d_url  = "" -%}
    {%- assign a_name = n.name -%}
    {%- assign a_url  = n.pages[0].url -%}
    {%- if a_url == searchurl %}{% assign search = false %}{% endif -%}
    {%- if search == true -%}
      {%- for n1 in n.pages -%}
        {%- if search == true -%}
          {%- assign c_name = "" -%}
          {%- assign c_url  = "" -%}
          {%- assign d_name = "" -%}
          {%- assign d_url  = "" -%}
          {%- assign b_name = n1.name -%}
          {%- assign b_url  = n1.url -%}
          {%- if b_url == searchurl %}{% assign search = false %}{% endif -%}
          {%- if search == true -%}
            {%- for n2 in n1.pages -%}
              {%- if search == true -%}
                {%- assign d_name = "" -%}
                {%- assign d_url  = "" -%}
                {%- assign c_name = n2.name -%}
                {%- assign c_url  = n2.url -%}
                {%- if c_url == searchurl %}{% assign search = false %}{% endif -%}
                {%- if search == true -%}
                  {%- for n3 in n2.pages -%}
                    {%- if search == true -%}
                      {%- assign d_name = n3.name -%}
                      {%- assign d_url  = n3.url -%}
                      {%- if d_url == searchurl %}{% assign search = false %}{% endif -%}
                    {%- endif -%}
                  {%- endfor -%}
                {%- endif -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
{%- endif -%}

<nav class="mainnav" aria-label="Main">
  {%- if page.url == "/" %}{% assign a_url = "" %}{% endif -%}
  {%- include navlist.html data=site.data.navigation current=a_url -%}
</nav>

{%- unless page.url == "/" -%}
<nav class="breadcrumb default-grid" aria-label="Breadcrumb">
  <ul class="default-container">
    <li><a href="{{ "/" | relative_url }}">Home</a></li>
    {%- unless a_name == "" -%}<li><a href="{{ a_url | relative_url }}"{% if a_url == page.url%} aria-current="page"{%endif%}>{{a_name}}</a></li>{%- endunless -%}
    {%- unless b_name == "" -%}<li><a href="{{ b_url | relative_url }}"{% if b_url == page.url%} aria-current="page"{%endif%}>{{b_name}}</a></li>{%- endunless -%}
    {%- unless c_name == "" -%}<li><a href="{{ c_url | relative_url }}"{% if c_url == page.url%} aria-current="page"{%endif%}>{{c_name}}</a></li>{%- endunless -%}
    {%- unless d_name == "" -%}<li><a href="{{ d_url | relative_url }}"{% if d_url == page.url%} aria-current="page"{%endif%}>{{d_name}}</a></li>{%- endunless -%}
    {%- if page.parent == "/"-%}<li><a href="{{ page.url | relative_url }}" aria-current="page">{{page.title}}</a></li>{%- endif -%}
    {%- if col.parent -%}
    {%- capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture -%}
    {%- assign splitted_url_parts = page_url_without_index_html | split: '/' -%}
    {%- capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture -%}
    {%- for i in (1..forLoopMaxInt) -%}
        {%- capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture -%}
        {%- capture current_breadcrumb_md_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture -%}
        {%- capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture -%}
        {%- for breadcrumb_page in site.documents -%}
            {%- if current_breadcrumb_url == breadcrumb_page.url -%}
                <li>
                    <a{% if current_breadcrumb_url == page.url%} aria-current="page"{%endif%} href="{{current_breadcrumb_url | relative_url}}">{% if breadcrumb_page.breadcrumb_title%}{{breadcrumb_page.breadcrumb_title}}{% else %}{{breadcrumb_page.title}}{% endif %}</a>
                </li>
            {%- endif -%}
        {%- endfor -%}
    {%- endfor -%}
    {%- endif -%}
  </ul>
</nav>
{%- endunless -%}