{%- if page.lang == "en" -%}
<li>
  <a lang="en" class="page-link" {% if include.current %} aria-current="page" {% else %}{% if include.insub%} aria-current="location" {% endif %}{% endif %} href="{{ include.url | relative_url }}"><span>{% comment %}{% if include.url == searchurl %}{% include_cached icon.html name="chevron-right" %} {% endif %}{% endcomment %}{{include.name}}{% if include.different == true %} {% include different.html %}{% endif %}</span></a>
  {{include.submenu}}
</li>
{%- else -%}
  {%- assign enpage=site.documents | where:"ref", page.ref | where: "lang", "en" | first -%}
  {%- unless enpage.length > 0 -%}
  {%- assign enpage=site.pages | where:"ref", page.ref | where: "lang", "en" | first -%}
  {%- endunless -%}
  {%- if enpage.ref -%}
    {% assign langpage=site.documents | where:"ref", page.ref | where: "lang", page.lang | first -%}
    {%- unless langpage.length > 0 -%}
    {% assign langpage=site.pages | where:"ref", page.ref | where: "lang", page.lang | first -%}
    {%- endunless -%}
    {%- unless langpage -%}
      {%- assign langpage=enpage -%}
    {%- endunless-%}
    <li>
      <a lang="{{langpage.lang}}" class="page-link" {% if include.current %} aria-current="page" {% else %}{% if include.insub%} aria-current="location" {% endif %}{% endif %} href="{{ langpage.url | relative_url }}"><span>{% comment %}{% if include.url == searchurl %}{% include_cached icon.html name="chevron-right" %} {% endif %}{% endcomment %}{{langpage.title}}{% if include.different == true %} {% include different.html %}{% endif %}</span></a>
      {{include.submenu}}
    </li>
  {%- else -%}
    <li>
      <a lang="en" class="page-link" {% if include.current %} aria-current="page" {% else %}{% if include.insub%} aria-current="location" {% endif %}{% endif %} href="{{ include.url | relative_url }}"><span>{% comment %}{% if include.url == searchurl %}{% include_cached icon.html name="chevron-right" %} {% endif %}{% endcomment %}{{include.name}}{% if include.different == true %} {% include different.html %}{% endif %}</span></a>
      {{include.submenu}}
    </li>
  {%- endif -%}
{%- endif -%}