<nav class="nav" aria-label="{{ include.name }}">
    <ul>
        <li class="nav__item"><a href="#" class="active">Overview</a></li>
        <li class="nav__item"><a href="#">About</a></li>
        <li class="nav__item"><a href="#">Guideline 1</a></li>
        <li class="nav__item"><a href="#">Guideline 2</a></li>
        <li class="nav__item"><a href="#">Guideline 3</a></li>
        <li class="nav__item"><a href="#">Guideline 4</a></li>
        <li class="nav__item"><a href="#">Report</a></li>
    </ul>
</nav>