{% include box.html type="start" title="Related WCAG resources" id="related" class="large icon" icon="default" %}
<p>{% include t.html t="These tutorials provide best-practice guidance on implementing accessibility in different situations. This page combined the following WCAG success criteria and techniques from different conformance levels:" %}</p>
{% if page.wcag_success_criteria %}
  <p><strong>{% include t.html t="Success Criteria" %}:</strong></p>
  <ul>
    {%- for sc in site.data.wcag -%}
    {%- if page.wcag_success_criteria contains sc.key -%}<li><a href="https://www.w3.org/WAI/WCAG21/quickref/#qr-{{sc.slug}}"><strong>{{sc.key}}</strong> {{sc.title}}:</a> {{sc.desc}} ({% include t.html t="Level" %}&nbsp;{{sc.level}})</li>{%- endif -%}
    {%- endfor -%}
  </ul>
{% endif %}
{% if page.wcag_techniques %}
  <p><strong>{% include t.html t="Techniques" %}:</strong></p>
  <ul>
    {%- for tech in site.data.techniques -%}
    {%- if page.wcag_techniques contains tech.key -%}<li><a href="https://www.w3.org/TR/WCAG20-TECHS/{{tech.key}}">{{tech.key}}: {{tech.desc}}</a></li>{%- endif -%}
    {%- endfor -%}
  </ul>
{% endif %}
{% include box.html type="end" %}
