{%- if page.parent == "/" -%}
  {%- assign searchurl = page.parent -%}
{%- else -%}
  {%- if page.ref and page.lang -%}
    {%- if page.lang != "en" -%}
      {%- assign searchurl = enpage.url -%}
    {%- else -%}
      {%- assign searchurl = page.url -%}
    {%- endif -%}
  {%- else -%}
    {%- assign searchurl = page.url -%}
  {%- endif -%}
{%- endif -%}
{%- for item in site.data.navigation -%}
  {% assign seen_current = false %}
  {% assign is_in_here = false %}
  {% capture menu %}
    {% include subpages.html name=false pages=item.pages hide=item.hide %}
  {% endcapture %}
  {% if is_in_here == true %}
    <div class="sidenav">
      <nav class="sn-contents" aria-label="Secondary">
        <div class="sidenav--head"><div class="sidenav--head-title"><div class="sidenav--head-subsection">{% include_cached inpl.html lang=page.lang a=item.name %}</div></div></div>
        {{menu}}
      </nav>
    </div>
  {% endif %}
{%- endfor -%}