{% unless page.lang=="en" %}
{%- assign enpage=site.documents | where:"ref", page.ref | where: "lang", "en" | first -%}
{%- unless enpage.length > 0 -%}
{%- assign enpage=site.pages | where:"ref", page.ref | where: "lang", "en" | first -%}
{%- endunless -%}
{% assign enupdatedate= enpage.last_updated | date: "%s" %}
{% assign thisupdatedate= page.last_updated | date: "%s" %}
<section id="translation-info" class="doc-note-box" style="font-size: .8125rem;">
  <h2 class="visuallyhidden">{% include t.html t="About this Translation" %}</h2>
  <p style="margin: 0 0 .5em 0;">{% assign replacepattern = enpage.url | relative_url | prepend: "$1|"  %}{% include t.html t='This volunteer translation might not accurately reflect the intentions of the <a href="$1">English original</a>.' replace=replacepattern %}</p>
  {% if page.lang == 'en' %}
  <p style="margin: .5em 0;">{% include_cached icon.html name="check-circle" %} {% include t.html t='Translation up-to-date with the English version.' %}
    <br>{% include t.html t='Translation updated:' %} {{page.last_updated | date: "%d %b %Y"}}. {% include t.html t='English updated:' %} {{enpage.last_updated | date: "%d %b %Y"}}.
   </p>
  <p style="margin: .5em 0;">{% include_cached icon.html name="warning" %} {% include t.html t='English version updated since this translation: <a href="$1">Change log</a>.' replace="$1|/url/to/changelog/" %}
    <br>{% include t.html t='English updated:' %} {{enpage.last_updated | date: "%d %b %Y"}}. {% include t.html t='Translation updated:' %} {{page.last_updated | date: "%d %b %Y"}}.
  </p>
  {% else %}
  {% if enupdatedate <= thisupdatedate %}
  <p style="margin: .5em 0;">{% include_cached icon.html name="check-circle" %} {% include t.html t='Translation up-to-date with the English version.' %}
    <br>{% include t.html t='Translation updated:' %} {{page.last_updated | date: "%d %b %Y"}}. {% include t.html t='English updated:' %} {{enpage.last_updated | date: "%d %b %Y"}}.
   </p>
  {% else %}
  <p style="margin: .5em 0;">{% include_cached icon.html name="warning" %} {% include t.html t='English version updated since this translation: <a href="$1">Change log</a>.' replace="$1|/url/to/changelog/" %}
    <br>{% include t.html t='English updated:' %} {{enpage.last_updated | date: "%d %b %Y"}}. {% include t.html t='Translation updated:' %} {{page.last_updated | date: "%d %b %Y"}}.
  </p>
  {% endif %}
  {% endif %}
  <p style="margin: .5em 0 0 0;"><strong>{% include t.html t='Translator:' %}</strong> {{page.translator}}. {% include t.html t='Contributor:' %} {{page.contributors}}.{% assign replacepattern = "/about/translating/" | relative_url | prepend: "$1|"  %} {% include t.html t='WAI thanks these translators, and welcomes other <a href="$1">translations</a>.' replace=replacepattern %}</p>
</section>
{% endunless %}
