{%- assign page_lang = 'en' -%}
{%- if page.lang -%}
  {%- assign page_lang = page.lang -%}
{%- endif -%}
{%- unless page_lang == "en" -%}
  {%- if page.custom_changelog -%}
    {%- assign changelog_url = page.custom_changelog -%}
  {%- elsif page.changelog -%}{%- comment -%}Supports legacy method for now{% endcomment -%}
    {%- assign changelog_url = page.changelog -%}
  {%- elsif page.ref -%}
    {%- capture changelog_url -%}{{ page.ref | append: "changelog/" }}{%- endcapture -%}
  {%- else -%}
    {%- capture changelog_url -%}{{ page.url | append: "changelog/" }}{%- endcapture -%}
  {%- endif -%}
  {%- assign all_docs = site.documents | concat: site.pages -%}
  {%- assign changelog_page = all_docs | where: "url", changelog_url | first -%}
  <section id="translation-info" class="doc-note-box doc-note-translation {% if page.translation.draft == true %}doc-note-translation--draft{% endif %}">
    <h2 class="visuallyhidden">{% include_cached t.html t="About this translation" lang=page_lang %}</h2>
    {%- if page.translation.draft == true -%}
    <p>
      {%- include t.html t='<strong>This translation is a draft</strong>. We welcome your comments via GitHub or email from the links below under <a href="#helpimprove">Help improve this page</a>.' -%}
    </p>
    {%- endif -%}
    <p>
      {%- assign replace_pattern = enpage.url | relative_url | prepend: "$1|" -%}
      {%- include t.html t='This volunteer translation might not accurately reflect the intentions of the <a href="$1">English original</a>.' replace=replace_pattern lang=page_lang -%}
    </p>
    {%- if page.translators or page.contributors -%}
    <p>
      {%- capture translatorslabel %}<strong>{% include_cached t.html t='Translator:' lang=page_lang %}</strong>{%- endcapture %}
      {%- include peoplelist.html label=translatorslabel people=page.translators -%}
      {%- capture contributorslabel %}{% include_cached t.html t='Contributor:' lang=page_lang %}{%- endcapture -%}
      {%- include peoplelist.html label=contributorslabel people=page.contributors -%}
      <br />
      {%- assign replace_pattern = "/about/translating/" | relative_url | prepend: "$1|" -%}
      {%- include_cached t.html t='The Web Accessibility Initiative (WAI) thanks translators, and welcomes other <a href="$1">translations</a>.' replace=replace_pattern lang=page_lang -%}
    </p>
    {%- endif -%}
    {%- if page.translation.outdated == true -%}
      <div class="translation-needs-update">
          <p>{% include_cached icon.html name="warning" %} <strong>{% include_cached t.html t='Notice:' lang=page_lang %}</strong> {% include t.html t='The English original has been substantially updated since this translation.' lang=page_lang %}{%- if changelog_page %} &mdash; <a href="{{ changelog_page.url | relative_url }}">{%- include_cached t.html t="Latest changes" lang=page_lang -%}</a>{%- endif -%}
          <br />{% include_cached t.html t='English version updated:' lang=page_lang %} <span dir="auto">{{ enpage.last_updated | date: "%Y-%m-%d" }}</span> — {% include_cached t.html t='Translation date:' lang=page_lang %} <span dir="auto">{{ page.translation.last_updated | date: "%Y-%m-%d" }}</span>.
          <br />{% include_cached t.html t='We welcome a <a href="$1">translation update</a>.' lang=page_lang replace=replace_pattern %}</p>
        </div>
    {%- endif -%}
  </section>
{%- endunless -%}