{%- assign langs = site.data.lang -%}
{%- assign vtt-metadata=site.data.video-metadata | where: "id", include.video-id | first -%}
{%- capture enabletxt -%}{% include t.html t="Enable Audio Description" %}{%- endcapture -%}
{%- if enabletxt == null or enabletxt == "" -%}{% assign enabletxt = "Enable Audio Description" %}{%- endif -%}
{%- capture disabletxt -%}{% include t.html t="Disable Audio Description" %}{%- endcapture -%}
{%- if disabletxt == null or disabletxt == "" -%}{% assign disabletxt = "Disable Audio Description" %}{%- endif -%}
<div class="video-container" data-video-type="" dir="ltr">
    <video preload="metadata" data-youtube-id="{{include.yt-id}}" data-youtube-nocookie="true" data-description-audible="false">
        {%- if vtt-metadata.captions -%}
        {%- for caption in vtt-metadata.captions -%}
        {%- if vtt-metadata.lang-folder -%}
        {%- assign lang-folder=caption | append: "/" -%}
        {%- endif -%}
        {%- assign l = langs[caption].nativeName -%}
        <track src="{{ 'wai-videos/' | append: vtt-metadata.path | append: '/' | append: lang-folder | append: include.video-id | append: '.' | append: caption | append: '.vtt' | relative_url }}" label="{{l}}" kind="captions" srclang="{{caption}}" {% if caption == page.lang %}default{% endif %}>
        {%- endfor -%}
        {%- endif -%}
        {%- if vtt-metadata.subtitles -%}
        {%- for subtitle in vtt-metadata.subtitles -%}
        {%- if vtt-metadata.lang-folder -%}
        {%- assign lang-folder=subtitle | append: "/" -%}
        {%- endif -%}
        {%- assign l = langs[subtitle].nativeName -%}
        <track src="{{ 'wai-videos/' | append: vtt-metadata.path | append: '/' | append: lang-folder | append: include.video-id | append: '.' | append: subtitle | append: '.vtt' | relative_url }}" label="{{l}}" kind="subtitles" srclang="{{subtitle}}" {% if subtitle == page.lang %}default{% endif %}>
        {%- endfor -%}
        {%- endif -%}
    </video>
</div>
{% if include.yt-id-ad %}
<div class="video-container" data-video-type="audio-described">
    <video preload="metadata" data-youtube-id="{{include.yt-id-ad}}" data-youtube-nocookie="true" data-description-audible="false">
        {%- if vtt-metadata.captions-ad -%}
        {%- for caption in vtt-metadata.captions-ad -%}
        {%- if vtt-metadata.lang-folder -%}
        {%- assign lang-folder=caption | append: "/" -%}
        {%- endif -%}
        {%- assign l = langs[caption].nativeName -%}
        <track src="{{ 'wai-videos/' | append: vtt-metadata.path | append: '/' | append: lang-folder | append: include.video-id |  append: '_ad.' | append: caption | append: '.vtt' | relative_url }}" label="{{l}}" kind="captions" srclang="{{caption}}" {% if caption == page.lang %}default{% endif %}>
        {%- endfor -%}
        {%- endif -%}
        {%- if vtt-metadata.subtitles-ad -%}
        {%- for subtitle in vtt-metadata.subtitles-ad -%}
        {%- if vtt-metadata.lang-folder -%}
        {%- assign lang-folder=subtitle | append: "/" -%}
        {%- endif -%}
        {%- assign l = langs[subtitle].nativeName -%}
        <track src="{{ 'wai-videos/' | append: vtt-metadata.path | append: '/' | append: lang-folder | append: include.video-id | append: '_ad.' | append: subtitle | append: '.vtt' | relative_url }}" label="{{l}}" kind="subtitles" srclang="{{subtitle}}" {% if subtitle == page.lang %}default{% endif %}>
        {%- endfor -%}
        {%- endif -%}
        {%- if vtt-metadata.descriptions-ad -%}
        {%- for desc in vtt-metadata.descriptions-ad -%}
        {%- if vtt-metadata.lang-folder -%}
        {%- assign lang-folder=desc | append: "/" -%}
        {%- endif -%}
        {%- assign l = langs[desc].nativeName -%}
        <track src="{{ 'wai-videos/' | append: vtt-metadata.path | append: '/' | append: lang-folder | append: include.video-id | append: '_ad_desc.' | append: desc | append: '.vtt' | relative_url }}" label="{{l}}" kind="descriptions" srclang="{{desc}}" {% if desc == page.lang %}default{% endif %}>
        {%- endfor -%}
        {%- endif -%}
    </video>
</div>
<p><button id="audio_description_button"><svg aria-hidden="true" class="icon-audio-description "><use xlink:href="{{ '/assets/images/icons.svg#icon-audio-description' | relative_url }}"></use></svg> <span>{{ enabletxt }}</span></button></p>
{% endif %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script src="{{ '/assets/ableplayer/build/ableplayer.min.js' | relative_url }}"></script>
<script>
    var youTubeDataAPIKey = "{{ site.ytkey }}";
    var googleApiReady = false;
    function initGoogleClientApi() {
        googleApiReady = true;
    }
</script>
<script src="//apis.google.com/js/client.js?onload=initGoogleClientApi"></script>

<script>
    (function () {
        'use strict';

        let player1 = new AblePlayer($('[data-video-type=""] video'));
        const audiodescribed = document.querySelectorAll('[data-video-type="audio-described"]');
        const nonaudiodescribed = document.querySelectorAll('[data-video-type=""]');

        if (audiodescribed.length > 0) {
            let player2 = new AblePlayer($('[data-video-type="audio-described"] video'));

            Array.prototype.forEach.call(audiodescribed, function(el, i){
                el.setAttribute('hidden', true);
            });

            const adbutton = document.querySelector('#audio_description_button');
            adbutton.addEventListener('click', function(e){
                player1.pauseMedia();
                player2.pauseMedia();

                if (e.currentTarget.getAttribute('data-status') === "audio-described") {
                    Array.prototype.forEach.call(nonaudiodescribed, function(el, i){
                        el.removeAttribute("hidden");
                    });
                    Array.prototype.forEach.call(audiodescribed, function(el, i){
                        el.setAttribute('hidden', true);
                    });
                    e.currentTarget.setAttribute('data-status', 'non-audio-described');
                    e.currentTarget.querySelector('span').textContent = '{{ enabletxt }}';
                } else {
                    Array.prototype.forEach.call(nonaudiodescribed, function(el, i){
                        el.setAttribute('hidden', true);
                    });
                    Array.prototype.forEach.call(audiodescribed, function(el, i){
                        el.removeAttribute("hidden");
                    });
                    e.currentTarget.setAttribute('data-status', 'audio-described');
                    e.currentTarget.querySelector('span').textContent = '{{ disabletxt }}';
                }
            });

        }

    }());
</script>
