/*
  Use W3C Dark Blue for the breadcrumbs until WAI properly incorporates black in the theme.
*/

.wai-breadcrumbs--blue a {
  color: var(--w3c-dark-blue);

  &:visited,
  &:hover,
  &:active {
    color: var(--w3c-dark-blue);
  }
}

.wai-breadcrumbs--blue [aria-current] {
  &:hover,
  &:focus {
    outline-color: var(--w3c-dark-blue);
  }
}

/*
  Make sure to use border-box box-sizing to get the intended chevron size
*/

.wai-breadcrumbs--box-border li:not(:last-child) {
  &::after {
    box-sizing: border-box;
  }
}

[dir="rtl"] {
  .wai-breadcrumbs--box-border li:not(:last-child) {
    &::after {
      box-sizing: border-box;
    }
  }
}