.doc-note {
  & h1 {
    &::before{
      background-color: var(--gold);
      color: var(--dk-blue);
      display: inline-block;
      padding: 4px 8px;
      margin-block-start: -8px;
      margin-inline-end: 8px;
      font-size: .875rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
      vertical-align: middle;
      border-radius: 3px;
    }
  }
}

.doc-note-box {
  border: 2px solid var(--gold);
  padding: 8px;
  background-color: var(--pure-white);
  margin-block-end: 20px;
  & p:first-child {
    margin-block-start: 0;
  }
  & p:last-child {
    margin-block-end: 0;
  }
}

.doc-draft {
  & h1::before {
    content: "Draft";
  }
}

.doc-archived {
  & h1::before {
    content: "Archived";
  }
}

.doc-deprecated {
  & h1::before {
    content: "Deprecated";
      background-color: var(--faded-red);
      color: var(--pure-white);
  }
  & .doc-note-box {
    border-color: var(--faded-red);
  }
}

.doc-note-translation {
  border: 2px solid var(--wai-green);
  font-size: .8125rem;
  & p {
    margin-block-start: 5px;
    margin-block-end: 5px;
    &:first-of-type {
      margin-block-start: 0;
    }
    &:last-child {
      margin-block-end: 0;
    }
  }
  & .translation-needs-update {
    background-color: var(--gold-light);
    padding: 8px;
    margin: 0 -8px -8px -8px;
  }
  & p.translation-draft {
    background-color: var(--gold-light);
    padding: 8px;
    margin: -8px -8px 0 -8px;
  }
}

.doc-note-translation--draft {
  border-color: var(--gold);
}