/*------------------------------------*\
    #Lists

    See: https://design-system.w3.org/styles/lists.html
\*------------------------------------*/

/**
Remove bullets, margin and padding from lists with the
'.clean-list' class/. Note that that this may remove list semantics in some circumstances in
some WebKit browsers. See https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html
If it's important that the number of items in a list is announced, add role="list" to the <ul> / <ol>
 */
.w3c-clean-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.w3c-clean-list li,
.w3c-clean-list ol,
.w3c-clean-list ul {
  margin: 0;
  padding: 0;
}