<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  {% include head.html %}
  <body id="top" class="{% include body-class.html %}">
    {% include header.html %}

<main id="main" class="default-grid with-gap leftcol" tabindex="-1">

  {% include sidenav.html %}

  <article>
    <h1>{% if page.title_icon %}<svg class="icon-in-title" aria-hidden="true"><use xlink:href="{{page.title_icon | relative_url}}"></use></svg> {% endif %}{% if page.title_html %}{{ page.title_html }}{% else %}{{ page.title }}{% endif %}</h1>

    {%- include doc-note-msg.html -%}

    {{ content }}

    {% if page.wcag_success_criteria or page.wcag_techniques %}
      {% include resources.html %}
    {% endif %}

    {% include feedback-box.html %}

    {% include prevnext.html %}
  </article>
  <a class="button button-backtotop" href="#top"><span>{% include_cached icon.html name="arrow-up" %} Back to Top</span></a>
</main>

{% include footer.html %}

  </body>
</html>
