<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#">
  {% include head.html %}
  <body id="top" class="{% include body-class.html %}">
    {% include header.html %}

<div class="default-grid with-gap leftcol" tabindex="-1">

  {% include sidenav.html %}

  <main id="main" class="content"{% if page.lang %} lang="{{page.lang}}"{% endif %}>
    <h1>{% if page.title_icon %}<svg class="icon-in-title" aria-hidden="true"><use xlink:href="{{page.title_icon | relative_url}}"></use></svg> {% endif %}{% if page.title_html %}{{ page.title_html }}{% else %}{{ page.title }}{% endif %}</h1>

    {%- include doc-note-msg.html -%}

    {{ content }}

    {% include feedback-box.html %}

    {% include prevnext.html %}

    {% include_cached backtotop.html %}
  </main>
</div>

{% include footer.html %}

  </body>
</html>
