<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  {% include head.html %}
  <body id="top" class="{% include body-class.html %}">
    {% include header.html %}

<main id="main" class="default-grid with-gap leftcol" tabindex="-1">

  {% include sidenav.html %}

  <article class="content">
    <h1>{% if page.title_icon %}<svg class="icon-in-title" aria-hidden="true"><use xlink:href="{{site.github.url}}{{page.title_icon}}"></use></svg> {% endif %}{{ page.title }}</h1>
    {{ content }}
    {% include prevnext.html %}
  </article>
  <a class="button button-backtotop" href="#top"><span>{% include_cached icon.html name="arrow-up" %} Back to Top</span></a>
</main>

{% include footer.html %}

  </body>
</html>
