/*------------------------------------*\
    #Site Header core
\*------------------------------------*/

#site-header {
  background-color: var(--w3c-classic);
  color: var(--pure-white);

  @supports (display: grid) {
    padding-inline: 0.5rem;

    @media (--medium) {
      padding-inline: 1rem;
    }

    @media (--large) {
      padding-inline: 2rem;
    }

    &.minimal-header {
      padding-inline: 0.5rem;
    }

  }

  @media (--large) {
    &:has(+ .mainnav) {
      padding-block-start: 1px; /* Compensate for .mainnav 1px top border */
    }
  }

  & a {
    color: var(--pure-white);

    @media print {
      color: var(--w3c-classic);
    }

    @media print {
      &:after {
        content: '';
      }
    }
  }

  @media print {
    background-color: var(--off-white);
    color: #000;
  }

  &.header-minimal {
    margin-block-end: 2rem;
  }

}

/*------------------------------------*\
    #Logos
\*------------------------------------*/

.logos {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 1;
  display: flex;
  align-items: center;
  width: 60%;
  padding-block: 0.75rem;
  @supports (display: grid) {
    width: auto;
  }

  & .home {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: color .25s ease-in .1s;
    padding-block: 0.5rem;
    @supports (display: grid) {
      flex: 0;
    }

    &.w3c {
      margin-inline-end: 1rem;
    }

    &::before {
      display: none;
      position: absolute;
      background-color: var(--gold);
      bottom: 0;
      left: 0;
      content: "";
      height: 0.1875rem;
      width: 100%;
    }

    &:--hovcus::before {
      display: block;
    }

    & svg, & img {
      vertical-align: middle;
      color: inherit;
      fill: currentColor;
      height: 36px;
      width: auto;
      @media (--medium) {
        height: 46px;
      }
    }

    & img {
      padding-inline-end: 0.25rem;
    }

  }

  & .claim {
    font-size: .875rem;
    font-style: italic;
    margin-inline-start: 16px;
    padding-inline-start: 16px;
    border-inline-start: 1px solid var(--gold);
    color: var(--pure-white);
    flex: 1 0 0;
    display:none;

    @media (--large) {
      display: flex;
      align-items: center;
    }

    &:lang(ar) {
      font-style: normal;
    }

    @media print {
      color: var(--w3c-classic);
    }
  }
}