img {
  &.tiny   {--img-width:  60px;}
  &.mini   {--img-width:  90px;}
  &.small  {--img-width: 120px;}
  &.normal {--img-width: 240px;}
  &.medium {--img-width: 360px;}
  &.large  {--img-width: 480px;}
  &.left {
    clear: inline-start;
    float: inline-start;
    margin-inline-end: 1em;
  }
  &.right {
    clear: inline-end;
    float: inline-end;
    margin-inline-start: 1em;
  }
  &.video { border-radius: calc(var(--img-width) / 20); }
}

main img { max-width: 100%; }
main img:not([width]) { width: var(--img-width); }
