.tool-header {
  display: flex;
  margin: 1.2em 0;
  align-items: stretch;
}
.tool-header a{
  text-decoration: none;
}
.tool-header-name {
  flex: width 0 0;
}

.minimal-header {
  display: flex;
  margin: 1.2em 0;
  align-items: center;
}

.minimal-header .minimal-header-name,
.minimal-header .minimal-header-subtitle,
.minimal-header .minimal-header-link
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.minimal-header-name {
    flex: width 0 0;
}

.minimal-header-subtitle,
.minimal-header-link {
    flex: 1 0 0;
}

.minimal-header-name {
  font-size: 1.125em;
  line-height: 1;
}

.minimal-header-subtitle,
.minimal-header-link {
    border-left: 1px solid var(--gold);
    padding-left: 8px;
    margin-left: 18px;
    display: block;
    font-size: 80%;
}

.minimal-header-subtitle {
    font-style: italic;
  }

.minimal-header-link {
    font-weight: normal;
    margin-right: 16px;
}

@media (min-width: 60em) {
  .tool-header-name,
  .minimal-header-name {
    font-size: 1.5em;
  }
  .minimal-header-subtitle,
  .minimal-header-link {
    font-size: 1.2em;
  }
}

.tool-header-logo img,
.minimal-header-logo {
  margin-left: auto;
  display: flex;
  align-items: center;
  align-self: start;
}
.minimal-header-logo img {
  display: block;
  margin: 1px 0 1px 0;
  height: 1.5em;
}
@media (min-width: 60em) {
  .tool-header-logo img,
  .minimal-header-logo img {
    height: 2em;
  }
}
.minimal-header-container {
  background-color: var(--w3c-classic);
}
  .minimal-header-container > .minimal-header {
    grid-column: navigation-start / content-end;
  }
