.tool-header,
.minimal-header {
  display: flex;
  align-items: center;
}
.tool-header a,
.minimal-header a {
  text-decoration: none;
}
.tool-header-name,
.minimal-header-name {
  font-size: 1.125em;
  white-space: nowrap;
}
.minimal-header.with-subtitle .minimal-header-name {
  line-height: 1.1;
  font-size: 1.2em;
}
@media (min-width: 60em) {
  .tool-header-name,
  .minimal-header-name {
    font-size: 1.5em;
  }
  .minimal-header.with-subtitle .minimal-header-name {
    font-size: 1.2em;
  }
}
.minimal-header-subtitle {
  display: block;
  font-size: 70%;
}
.tool-header-logo,
.minimal-header-logo {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.tool-header-logo img,
.minimal-header-logo img {
  display: block;
  margin: 0.75em 0 0.75em 0.5em;
  height: 1.5em;
}
@media (min-width: 60em) {
  .tool-header-logo img,
  .minimal-header-logo img {
    height: 2em;
  }
}
.minimal-header-container {
  background-color: var(--w3c-classic);
}