.video-card {
  max-width: 100%;
  width: 100%;

  @media (--medlarge) {
    float: inline-end;
    max-width: 42%;
    margin-inline-start: 2em;
  }
}
  .video-card p {
    font-size: small;
  }
  .video-card video {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .video-card ~ h2,
  .video-card ~ aside {
    clear: inline-end;
  }
  .video-card .able {
    margin-top: 0;
  }
