ul {
  list-style-type: disc;
  &.alt, &.alt ul {
    list-style-type: circle;
  }
}

ul li, ol li {
  margin-block-end: 8px;
}

.linklist {
  &, & li {
    margin: 0;
    padding: 0;
    list-style:none;
  }
  & a {
    display: block;
    padding: 4px 16px;
    border-block-end: 1px solid var(--line-grey);
    text-decoration: none;
    & svg {
      height: .65em;
    }
    &:hover, &:focus {
      & svg {
        color: var(--faded-red);
      }
      & .visual-a {
        text-decoration: underline;
      }
    }
  }
  & li:last-child a {
    border-block-end: none;
  }
}

.nolist {
  margin: 0;
  padding: 0;
  & li {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
  }
}

.withicons {
  --img-width: 240px;
  &.tiny   {--img-width:  60px;}
  &.mini   {--img-width:  90px;}
  &.small  {--img-width: 120px;}
  &.normal {--img-width: 240px;}
}

.withicons li.left {
  & img {
    float: inline-start;
    min-width: 60px;
    width: calc(var(--img-width) / 2);
  }
  @media (--medium) {
    padding-inline-start: calc(var(--img-width) + 20px);
    & img {
      min-width: auto;
      width: var(--img-width);
      margin-inline-start: calc((var(--img-width) + 20px) * -1);
    }
  }
}

.withicons li.right {
  & img {
    float: inline-end;
    min-width: 60px;
    width: calc(var(--img-width) / 2);
  }
  @media (--medium) {
    padding-inline-end: calc(var(--img-width) + 20px);
    & img {
      min-width: auto;
      width: var(--img-width);
      margin-inline-end: calc((var(--img-width) + 20px) * -1);
    }
  }
}

p+ul, p+ol {
  margin-block-start: -8px;
}

.checkbox {
  list-style-image: url('../images/checkbox.svg');
}

.columns {
  padding: 0;
  & > * {
    margin-inline-start: 32px;
  }
}

.two.columns, .four.columns {
  column-gap: 32px;
  @media (--medium) {
    columns: 2;
  }
}

.four.columns {
  padding: 0 8px;
  @media (--large) {
    columns: 4;
  }
}

.two.small.columns {
  column-gap: 32px;
  @media (--medium) {
    columns: 1;
  }
  @media (--large) {
    columns: 2;
  }
}

dl {
  margin: 16px 0;
}

dt {
  font-weight: bold;
}

.notbold dt {
  font-weight: normal;
}

dd {
  margin-inline-start: 32px;
}

dd+dt {
  margin-block-start: 8px;
}

dl.paragraph-like dd+dt {
  margin-block-start: 1em;
}

ul.sentence, ul.sentence li {
    font-size: 0; /* Make white space disappear */
    display:inline;
    margin:0;
    padding: 0;
    list-style: none;
}

ul.sentence li {
    font-size: 1rem;
}

.page-footer ul.sentence li {
    font-size: .875rem;
}

ul.sentence li:before {
    content: ", "
}

ul.sentence li:first-child:before {
    content: ''
}

ul.sentence li:last-child:before {
    content: ', and '
}

ul.sentence li:last-child:after {
    content: '.'
}

ul.sentence li:last-child:nth-child(2):before {
    content: " and ";
    display: inline-block;
}

ul.sentence li:last-child:first-child:before {
    content: ''
}
