
/*------------------------------------*\
    #Minimal header
\*------------------------------------*/

.minimal-header-container {
  background-color: var(--w3c-classic);
}

.minimal-header-container > .minimal-header {
  grid-column: navigation-start / content-end;
}

.minimal-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding-block: 1rem;

  @media (--medlarge) {
    gap: 1.5rem;
    flex-wrap: nowrap;
  }

}

.minimal-header-title {
  font-size: 1.125rem;
  line-height: 1.2;

  @media (--large) {
    font-size: 1.375rem;
  }

  & a {
    text-decoration: none;
    &:--hovcus, &[aria-current="page"] {
      text-decoration: underline;
    }
    &[aria-current="page"] {
      text-decoration: underline;
    }
  }

}

.minimal-header-subtitle, .minimal-header-link {

  @media (--large) {
    padding-inline-start: 1rem;
    border-inline-start: 1px solid var(--gold);
  }
}

.minimal-header-subtitle{
  font-style: italic;
}

.minimal-header-info {
  flex: 1 0 70%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (--large) {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}

.minimal-header-subtitle,
.minimal-header-link {
  font-size: .875em;
  color: var(--pure-white);
}

.minimal-header-link {
  font-size: .85em;
}

.minimal-header-logo {

  .logos {
    padding: 0;
  }

  .logos .home svg, .logos .home img {
    height: 36px;
  }
}

/*------------------------------------*\
    #Tool header
\*------------------------------------*/

.tool-header {
  padding-block: 0.5rem;

  .minimal-header-info {
    flex: 1 0 33%;
  }
}