.making-web-accessible {
  text-align:center;
  border-block-end: 1px solid var(--line-grey);
  flex-direction: column;
  & [hidden] {
    display: none !important;
  }
  & .inner.hidesection {
    position: relative;
    order: -1;
  }
  & .making-web-accessible-box {
    text-align: start;
  }
  & .mwa-icon {
    width:  3.5rem;
    height: 3.5rem;
    margin-inline-end: 1rem;
    fill: var(--w3c-dark-blue);
  }
  & .title {
    display: block;
    font-size: 2.25rem;
  }
  & .teaser-h h2 {
    margin:0;
  }
  & .teaser-h p {
    margin-block-end:.5rem;
  }
  & h3 {
    color: var(--w3c-dark-blue);
    margin-block-start: 10px;
    font-size: 1.5rem;
    margin-block-end:0;
    display: flex;
    align-items: center;
  }
  & p {
    margin-block-start:.5rem;
    margin-block-end:0;
  }
  & .showhidebutton {
    float: inline-end;
    position: absolute;
    top: -1.35em;
    right: 0;
  }
}