/*------------------------------------*\
    #Center layout primitive

    See: https://design-system.w3.org/layouts/center.html

    From https://absolutely.every-layout.dev/layouts/center/

    `.l-center` creates a horizontally centered container.
\*------------------------------------*/

/**
1. We use left and right padding to add some minimum space between the
contents of `.l-center` and the edges of the parent element or viewport.
To avoid making the content narrower than intended, we add an exception
to our global box-sizing rule.
 */
.w3c-l-center.w3c-l-center {
	box-sizing: content-box /* 1 */;
	margin-left: auto;
	margin-right: auto;
	max-width: rem(var(--max-width));
	padding-left: 5vw;
	padding-right: 5vw;
}